.conversion{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 30px;
    // height: 100vh;
    position: relative;
    @media(max-width: 767px){
        height: auto;
    }
    .model3{
        position: absolute;
        top: -100px;
        left: calc(50% + 300px);
        transform: translateX(-50%);
        height: 100%;
        z-index: 3;
        @media(max-width: 991px){
            left: calc(50% + 200px);
        }
        @media(max-width: 767px){
            left: 50%;
        }
    }
    .inner{
        height: 100%;
        position: relative;
        padding-top: 40px;
        padding-bottom: 200px;
        .heading{
            font-family: $inter;
            font-weight: 700;
            font-size: 42.5px;
            line-height: 51px;
            letter-spacing: 0.01em;
            color: #000000;
            text-align: center;
            @media(max-width: 567px){
                text-align: left;
                font-size: 25px;
                margin-left: 10px;
            }
        }
        .stats{
            margin-left: 0px;
            text-transform: uppercase;
            margin-bottom: 40px;
            margin-top: 25px;
            position: absolute;
            @media(max-width: 991px){
                margin-left: 70px;
            }
            @media(max-width: 767px){
                margin-left: 0px;
                left: 50%;
                transform: translateX(-50%);
            }
            .gradient-text{
                background-size: 150%;
                animation: textEffect 2s infinite alternate;
            }
            .top{
                margin-left: 57px;
                font-family: $lato;
                font-weight: 900;
                font-size: 40px;
                line-height: 80%;
                letter-spacing: 0.02em;
                background: linear-gradient(223.5deg, #1ACBF2 14.9%, #0E74F9 88.34%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                mix-blend-mode: multiply;
                @media(max-width: 767px){
                    font-size: 36px;
                }
                @media(max-width: 567px){
                    font-size: 30px;
                }
            }
            .numbers{
                font-family: $lato;
                font-weight: 900;
                font-size: 270px;
                line-height: 80%;
                letter-spacing: 0.02em;
                background-image: linear-gradient(223.5deg, #4841D2 14.9%, #0E74F9 88.34%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                mix-blend-mode: multiply;
                @media(max-width: 767px){
                    font-size: 200px;
                }
                @media(max-width: 567px){
                    font-size: 180px;
                }
                @media(max-width: 450px){
                    font-size: 150px;
                }
            }
            .stat{
                margin-left: 57px;
                font-family: $lato;
                font-weight: 900;
                font-size: 40px;
                line-height: 72px;
                letter-spacing: 0.02em;
                background-image: linear-gradient(185.73deg, #4841D2 9.97%, #0E74F9 113.54%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                mix-blend-mode: multiply;
                position: relative;
                z-index: 5;
                white-space: nowrap;
                @media(max-width: 767px){
                    font-size: 36px;
                    line-height: 100%;
                    white-space: normal;
                }
            }
        }
        .blurb{
            margin-left: 227px;
            z-index: 5;
            margin-top: 350px;
            padding: 24px;
            background-color: rgba(255, 255, 255, 0.9);
            border: 1px solid rgba(0, 0, 0, 0.24);
            border-radius: 24px;
            max-width: 396px;
            width: 100%;
            position: relative;
            @media(max-width: 991px){
                margin-left: 130px;
            }
            @media(max-width: 991px){
                margin-left: 0px;
            }
            @media(max-width: 567px){
                margin-right: 70px;
                max-width: none;
                width: auto;
            }
            @media(max-width: 400px){
                margin-right: 0px;
                margin-top: 270px;
            }
            .box{
                .title{
                    font-family: $lato;
                    font-weight: 900;
                    font-size: 21.85px;
                    line-height: 26px;
                    letter-spacing: 0.11em;
                    text-transform: uppercase;
                    color: #000000;
                    margin-bottom: 8px;
                }
                .description{
                    margin-top: 8px;
                    margin-bottom: 14px;
                    font-family: $inter;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22px;
                    color: #000000;
                    @media(max-width:567px){
                        font-size: 14px;
                        line-height: 17px;
                    }
                }
            }
            .button{
                position: absolute;
                display: flex;
                transition: 300ms ease;
                padding: 14px 24px;
                background: linear-gradient(274.31deg, #4D44EF 5.99%, #3678E6 95.21%);
                border-radius: 50px;
                align-items: center;
                grid-gap: 8px;
                transform: translateX(-50%);
                left: 50%;
                width: max-content;
                bottom: -30px;
                z-index: 5;
                @media(max-width: 567px){
                    left: calc( 50% + 30px);
                }
                @media(max-width: 400px){
                    left: 50% ;
                }
                .icon{
                    width: 25px;
                    height: 35px;
                    position: relative;
                    img{
                        position: absolute;
                        transform: translate(-50%, -50%);
                        top: 50%;
                        left: 50%;
                    }
                }
                animation: btnEffectReverse 0.3s forwards;
                &:hover{
                    animation: btnEffect 0.3s forwards;
                }
                &.engulf{
                    transition: 250ms ease;
                    padding: 14px 80px;
                }
                &.settle{
                    transition: 250ms ease;
                    padding: 14px 70px;
                }
                .link{
                    font-family: $inter;
                    font-weight: 500;
                    color: white;
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }
        .scroll-down{
            position: absolute;
            display: flex;
            width: 100%;
            justify-content: center;
            grid-gap: 16px;
            bottom: 2%;
            left: 50%;
            transform: translateX(-50%);
            align-items: center;
            z-index: 5;
            @media(max-width: 767px){
                flex-direction: column-reverse;
            }
            @media(max-width: 567px){
                scale: 0.8;
                margin-left: -10%;
                max-width: 250px;
            }
            .icon{
                transition: 200ms ease;
                cursor: pointer;
                &:hover{
                    transition: 200ms ease;
                    transform: translateY(5px);
                }
            }
            .text{
                font-family: $inter;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                color: #4C46EF;
                // text-align: left;
            }
        }
    }
}